<%- include('./include/dashboardhead.ejs') -%>

    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">


            <!-- Basic Bootstrap Table -->
            <div class="card">
              <div class="card-body">
                <div class="row">
                <div class="table-responsive text-nowrap p-4 col-5">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Variable Name</th>
                                <th>Value</th>
                                

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="table-body">
                          <tr>
                            <td>
                              Refference
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            

                            <td>
                              <a href="" class="btn btn-primary">Update</a>
                            </td>

                          </tr>
                          <tr>
                            <td>
                              Financial Year
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            

                            <td>
                              <a href="" class="btn btn-primary">Update</a>
                            </td>

                          </tr>
                          <tr>
                            <td>
                              Purchase Bill NO.
                            </td>
                            <td>
                              <input type="text" value="<%=user.pbillid%>"  class="form-control">
                            </td>
                            

                            <td>
                              <a href="" class="btn btn-primary">Update</a>
                            </td>

                          </tr>
                          <tr>
                            <td>
                              Sales Bill NO.
                            </td>
                            <td>
                              <input type="text" value="<%=user.sbill%>"  class="form-control">
                            </td>
                            

                            <td>
                              <a href="" class="btn btn-primary">Update</a>
                            </td>

                          </tr>
                          <tr>
                            <td>
                              Credit Note NO.
                            </td>
                            <td>
                              <input type="text" value="<%=user.creditnoteid%>"  class="form-control">
                            </td>
                            

                            <td>
                              <a href="" class="btn btn-primary">Update</a>
                            </td>

                          </tr>
                          <tr>
                          <td>
                            Debit Note NO.
                          </td>
                          <td>
                            <input type="text"  value="<%=user.debitnoteid%>" class="form-control">
                          </td>
                          

                          <td>
                            <a href="" class="btn btn-primary">Update</a>
                          </td>

                        </tr>
                        <tr>
                          <td>
                            Urd P-Bill NO.
                          </td>
                          <td>
                            <input type="text"  value="<%=user.urdbillid%>" class="form-control">
                          </td>
                          

                          <td>
                            <a href="" class="btn btn-primary">Update</a>
                          </td>

                        </tr>
                        <tr>
                          <td>
                            Urd S-Bill NO.
                          </td>
                          <td>
                            <input type="text" value="<%=user.creditnoteid%>" class="form-control">
                          </td>
                          

                          <td>
                            <a href="" class="btn btn-primary">Update</a>
                          </td>

                        </tr>
                        <tr>
                          <td>
                            P-Commitment NO.
                          </td>
                          <td>
                            <input type="text" value="<%=user.creditnoteid%>" class="form-control">
                          </td>
                          

                          <td>
                            <a href="" class="btn btn-primary">Update</a>
                          </td>

                        </tr>
                        <tr>
                          <td>
                            S-Commitment NO.
                          </td>
                          <td>
                            <input type="number" value="<%=user.creditnoteid%>" class="form-control">
                          </td>
                          

                          <td>
                            <a href="" class="btn btn-primary">Update</a>
                          </td>

                        </tr>
                          <!-- Data will be populated here -->
                      </tbody>
  </table>

</div>
<div class="col-7">
  <table class="table table-bordered" id="example">
    <thead>
        <tr>
          <th>Item</th>
          <th>Type</th>

            <th>Aprx Stock</th>
            <th>By Products</th>
            <th>Curing</th>
            <th>Update</th>

        </tr>
    </thead>
    <tbody class="table-border-bottom-0" id="product-table-body">
      </tbody>
      </table>

</div>
</div>
               
</div>
</div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<div class="modal fade hidden" id="newitem" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Item <span id="currentitemname"></span></h5>
      
      </div>

      <div class="modal-body">
          <form id="newproductform">
        <div class="row">
          <div class="col mb-3">
            <div class="my-1 flex-nowrap input-group">
              <select name="itemtype" id="itemtype" class="form-control">
                <option value="Primary">Primary Item</option>
                <option value="Secondary">Secondary Item</option>

              </select>
                <button type="button" class="btn btn-primary" onclick=" addByProductRow();" id="addByProduct">Update Ctegory</button> 

            </div>   
            <div id="byproducts-main">

            <div class="row"> 
           
              <div class="col mb-3">
                <label for="name" class="form-label">By-Product name</label>
              </div>
              <div class="col mb-3">
                <label for="name" class="form-label">Percentage</label>
              </div>
              <div class="col mb-3">
                <label for="name" class="form-label">Action</label>
              </div>
             
            </div>
            <div class="row byproduct-row"> 
              <div class="col mb-3"> 
                <select class="js-data-example-ajax-byproduct" name="byproductitem" id="byproductitem" required></select> 
              </div> 
              <div class="col mb-3"> 
                  <input type="text" class="form-control" name="byproductpercentage" id="byproductpercentage" placeholder="Enter Percentage"> 
              </div> 
              <div class="col mb-3"> 
                  <button type="button" class="btn btn-primary" onclick=" addByProductRow();" id="addByProduct">Add By-Product</button> 
              </div> 
          </div>
          <div id="byproducts">

          </div>
          </div>
        </div>
          </div>
 
       
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeaddproductmodal" data-bs-dismiss="modal" >
          Close
        </button>
        <a onclick="addproduct()" class="btn btn-primary text-white">Update Product</a>
      </div>
  
    </div>
  </div>
 </div>

<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>


<script>
  async function fetchData() {
      try {
          const response = await fetch('/getdetailedproductproducts');
          const data = await response.json();
          updateTable(data);
      } catch (error) {
          console.log('Error:', error);
      }
  }

  function updateTable(data) {
      const tableBody = document.getElementById('product-table-body');
      tableBody.innerHTML = '';

      data.forEach(product => {
          const row = document.createElement('tr');
          row.innerHTML = `
              <td>${product.product}</td>
              <td>${product.itemtype}</td>
              <td>${product.stockweight}</td>
              <td><a href="#" id="openModalButton" data-product='${JSON.stringify(product)}' >By-Products</a> </td>
              <td><input class="form-control"></td>
              <td><a class="btn btn-primary text-white">Update </a></td>
          `;
          tableBody.appendChild(row);
      });
  }

  // Call fetchData function when the DOM content is loaded
  document.addEventListener('DOMContentLoaded', fetchData);
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
// function openmodel(p){   
//   console.log(p) 
//   var myModal = new bootstrap.Modal(document.getElementById('newitem'));
//       myModal.show();
// }
var byproducts = []

document.addEventListener('click', function(event) {
            const target = event.target;
            if (target.matches('#openModalButton')) {
              var myModal = new bootstrap.Modal(document.getElementById('newitem'));
              myModal.show();
                const productData = JSON.parse(target.dataset.product); 
                document.getElementById('itemtype').value= productData.itemtype
                var byproductsDiv = document.getElementById('byproducts');
        byproductsDiv.innerHTML = '';
        byproducts=productData.byproduct
        productData.byproduct.forEach((byproduct, index) => {
            // Create a table row
            var newRowHtml = '<div class="row byproduct-row"> \
                            <div class="col mb-3">'+byproduct.name+'\
                             \
                            </div> \
                            <div class="col mb-3"> \
                                '+byproduct.percentage+' \
                            </div> \
                            <div class="col mb-3"> \
                                <button type="button" class="btn btn-danger delete-row" data-index="' + index + '">Delete</button> \
                            </div> \
                        </div>';   
                        
                        
                        $("#byproducts").append(newRowHtml);

            // Append table row to byproducts div
        });

                // Now you can use the product data as needed
                // For example, open a modal with the product details
            }
        });
        function addByProductRow() {
     

     var byproductname = document.getElementById('byproductitem').value
     var byproductpercentage = document.getElementById('byproductpercentage').value

     var byProduct = {
    name: byproductname,
    percentage: byproductpercentage
};

byproducts.push(byProduct);
var rowIndex = byproducts.length - 1



      var newRowHtml = '<div class="row byproduct-row"> \
                            <div class="col mb-3">'+byproductname+'\
                             \
                            </div> \
                            <div class="col mb-3"> \
                                '+byproductpercentage+' \
                            </div> \
                            <div class="col mb-3"> \
                                <button type="button" class="btn btn-danger delete-row" data-index="' + rowIndex + '">Delete</button> \
                            </div> \
                        </div>';

      $("#byproducts").append(newRowHtml);

      
  }
  $('#newitem').on('shown.bs.modal', function () {
    $('.js-data-example-ajax-byproduct').select2({
            dropdownParent: $("#newitem"),
              ajax: {
                  url: '/getproducts',
                  dataType: 'json',
                  delay: 250, // Delay in milliseconds before making the request
                  processResults: function (data) {
                      return {
                          results: data.results.map(name => ({ id: name, text: name }))
                      };
                  },
                  cache: true // Enable caching to reduce server requests
              }
          });
});
$(document).on('click', '.delete-row', function () {
        var index = $(this).data('index');
        if(index < byproducts.length-1){
          alert('delete the last item first')
        }else{ byproducts.splice(index, 1);
        $(this).closest('.byproduct-row').remove();
        console.log(byproducts)}
       
      });
</script>
                                    
                                        <%- include('./include/end.ejs') -%>